@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 7% 97%;
    --foreground: 240 12% 5%;

    --card: 240 10% 96%;
    --card-foreground: 240 12% 5%;

    --popover: 240 10% 96%;
    --popover-foreground: 240 12% 5%;

    --primary: 244 44% 53%;
    --primary-foreground: 0 0% 98%;

    --secondary: 244 25% 88%;
    --secondary-foreground: 240 12% 5%;

    --muted: 250 17% 93%;
    --muted-foreground: 245 13% 40%;

    --accent: 240 17% 93%;
    --accent-foreground: 240 12% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 21% 89%;
    --input: 243 26% 84%;
    --ring: 244 56% 69%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 260 12% 5%;
    --foreground: 240 14% 90%;

    --card: 240 11% 7%;
    --card-foreground: 240 14% 90%;

    --popover: 240 11% 7%;
    --popover-foreground: 240 14% 90%;

    --primary: 244 26% 65%;
    --primary-foreground: 0 0% 2%;

    --secondary: 243 25% 14%;
    --secondary-foreground: 240 14% 90%;

    --muted: 245 18% 12%;
    --muted-foreground: 244 8% 60%;

    --accent: 245 21% 12%;
    --accent-foreground: 240 14% 90%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 248 11% 15%;
    --input: 245 10% 23%;
    --ring: 244 50% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr min(99ch, 100%) 1fr;
  }
  .wrapper > * {
    grid-column: 2;
  }
  .full-bleed {
    width: 100%;
    grid-column: 1 / 4;
  }
}

@layer components {
  .heading {
    @apply text-2xl font-bold font-lora;
  }
}
